@using Domain.Dto;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model FlightDtoModel
@{
}


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-label" asp-for="DepartureAirportId"></label>
            <select class="form-select form-select-lg mb-3" asp-for="DepartureAirportId" asp-items="Model.DepartureAirports">
                <option value="">Please Select</option>
            </select>
            <span asp-validation-for="DepartureAirportId" style="color: red;"></span>
        </div>
            <div class="form-group">
            <label class="form-label" asp-for="ArrivalAirportId"></label>
            <select class="form-select form-select-lg mb-3" asp-for="ArrivalAirportId" asp-items="Model.ArrivalAirports">
                <option value="">Please Select</option>
            </select>
            <span asp-validation-for="ArrivalAirportId" style="color: red;"></span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary mb-3" type="submit">Save</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-label" asp-for="Name"></label>
            <input class="form-control  form-control-lg mb-3" asp-for="Name" />
            <span asp-validation-for="Name" style="color: red;"></span>
        </div>
    </div>
</div>