@using Domain.Dto;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model FlightDtoModel
@{
}
<form asp-action="Edit" asp-controller="Flight" asp-method="Post">
    <partial name="_CreateOrUpdate" model="Model" />
</form>